
{% extends 'base.html' %}



{% block title %}

    Student List

{% endblock %}





{% block content %}

    <!-- List -->

    <h1>List of Students</h1>

    <a href="{% url 'create_students' %}" class="btn btn-primary">Create New Student</a>

    <div class="d-flex flex-wrap justify-content-center">

        {% for student_app in students %}
            <div class="card m-2" style="width: 18rem;">
                
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                
                <div class="card-body">
                    <h3 class="card-title">{{student_app.name}}</h3>
                    <p class="card-text">Email: {{student_app.email}}</p>
                    <p class="card-text">Age: {{student_app.age}}</p>


<!-- --------------------------------------mod-19 || live-2---------------------------------------- -->

<!-- if logged in or authenticated only then the user can EDIT/DELETE -->
<!-- if not logged then the following message will be shown --> 

                    {% if user.is_authenticated %}
                        <a href="{% url 'update_students' id=student_app.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete_students' id=student_app.id %}" class="btn btn-danger">Delete</a>


                    {% else %}
                    <div class="container" style="background-color: coral; border-radius: 10px;">
                        <h5> Login/Register to Edit & Delete </h5>
                    </div>
                    
                    {% endif %}

                </div>

            </div>

        {% endfor %}






<!-- --------------------------------------mod-19 || live-2---------------------------------------- -->

    <!--------------- this part can be added here or in the base.html --------------->
    <!--------------- for now it is added in base.html --------------->
 
    <!--<div class="container my-2">
            {% if user.is_authenticated%}
                <h2>Welcome {{user.username}}!</h2>
                <a class="btn btn-danger" href="{% url 'logout'%}">Logout</a>

            {% else %}
                <a class="btn btn-primary" href="{% url 'register'%}">Register</a>
                <a class="btn btn-primary" href="{% url 'login'%}">Login</a>
            
            {% endif %}
        </div>


    </div> -->



    
{% endblock %}
