.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 10px solid black;
    display: flex;
}

.item {
    width: 150px;
    height: 150px;
    background-color: lightcoral;
    padding: 1em;
    font-weight: 700;
    color: black;
    text-align: center;
    border: 10px solid blue;
    border-radius: 10px;
}



/*----------------------
media query code
----------------------*/
@media (max-width: 700px) {
    .container{
        flex-direction: column;
        background-color: bisque;
    }
}

