.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 10px solid black;
    display: flex;
}

.item {
    width: 150px;
    height: 150px;
    background-color: lightcoral;
    padding: 1em;
    font-weight: 700;
    color: black;
    text-align: center;
    border: 10px solid blue;
    border-radius: 10px;
    
}
    



/*----------------------
Animation
----------------------*/

@keyframes spin {                                /*spin is a variable*/

    0%{}
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
    }
    
}

.item{
    animation-name: spin;                        /*using the variable*/
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


