{% load static %}




<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>                                                                 
        
        {% block title %}
        {% endblock %}
    
    </title>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body>




    <div>

        {% if messages %}

            {% for message in messages %}
                <h5>{{message}}</h5>
            {% endfor %}

        {% endif %}


    </div>


<!-----------------------------------mod-19 || live-2---------------------------------->


    <!---User login---->

    <!-------------------- this part can be added here or in the student_list.html -------------------->
    <!-------------------- for now it is added here -------------------->

    <li class="nav-item">
        {% if user.is_authenticated%}
            <h2>Welcome {{user.username}}!</h2>
            <a class="btn btn-danger" href="{% url 'logout'%}">Logout</a>

        {% else %}
            <a class="btn btn-primary" href="{% url 'register'%}">Register</a>
            <a class="btn btn-primary" href="{% url 'login'%}">Login</a>
            
        {% endif %}
    </li>




    <div>
        <img src="{% static 'images/image.png' %}" alt="horse">
    </div>


    



    {% block content %}

    {% endblock %}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>